/*
Colors used:
Primary Color (Blue): #6198E8;
Secondary Color (Green): #7BF1A8;
Tertiary Color (Green): #C1FBA4;
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.6em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
#about-me img {
  width: 40%;
 }
a {
  color: #6198E8;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #0A66EC;
}
a:hover,
a:focus {
  color: #35588B;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #994c30;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #6198E8;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #7BF1A8; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  color: #994c30; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #6198E8;
  text-transform: uppercase;
  border: 2px solid #7BF1A8;
}
.button.contact:hover {
  background-color: #7BF1A8;
  color: #ffffff;
}
header {
  background-color: #6198E8;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.25);
box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.25);
  position: fixed;
  width: 100%;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#my-work .row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}
#hero {
  background-color: #6198E8;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
h1 {
  text-align: center; /* Centers text */
}
.logo {
  max-width: 250px;
}
img {
  max-height: 100em;
  max-width: 1200px;
}
main {
  padding-top: 150px;
}
nav {
  display: inline-block;
  width: 100%
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
}
nav > ul > li > a:visited {
  color: #0A66EC;
}
nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #35588B;
  text-decoration: underline;
}
nav > ul > li > a:active { /* selected link */
  color: #994c30;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
  text-align: unset;
 }
nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  #hero span {
  display: block;
 }
  main {
    padding-top: 99px;
  }
  body {
    font-size: 18px; /* Sets the font size to 16px */
    font-weight: 400; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  .col-md-6 {
  width: 50%;
 }
 [class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#about-me h3 { margin-top: 0;}
#my-work h3 { margin-top: 0;}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
  text-align: unset;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  #hero span {
  display: block;
  }
  main {
    padding-top: 99px;
  }
  body {
    font-size: 18px; /* Sets the font size to 16px */
    font-weight: 400; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  .row::after {
  content: "";
  clear: both;
  display: table;
}
#about-me h3 { margin-top: 0;}
#my-work h3 { margin-top: 0;}
.col-lg-5 {
width: 40%;
}
.col-lg-6 {
width: 50%;
}
.col-lg-7 {
width: 60%;
}
.col-lg-12 {
width: 100%;
}
  [class*="col-"] {
   float: left;
   padding: 10px;
   }
   .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
